[Desktop Entry]
Version=1.0
Type=Application

Name=JScripter
Comment=A very simple editor for very simple Python scripts
Categories=Development;GNOME;

Icon=io.github.david_swift.Scripter
Exec=JScripter
Terminal=false